version: "3.8"
services:
  # Infrastructure
  redis:
    container_name: redis-cache
    image: redis:latest
    ports:
      - "6379:6379"

  postgres:
    container_name: pg-database
    image: postgres:latest
    environment:
      POSTGRES_DB: coredb
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672" # AMQP protocol port
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

volumes:
  redis-data:
  postgres-data:
  rabbitmq-data:

secrets:
  npm-token:
    file: $HOME/.npmrc
