services:
  #
  # Web Docs
  #
  - type: web
    name: mothership-web-docs-production
    branch: production
    plan: free
    env: node
    buildCommand: pnpm build:docs
    startCommand: pnpm start:docs
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin
    envVars:
      - key: NODE_ENV
        value: production
  - type: web
    name: mothership-web-docs-staging
    branch: staging
    plan: free
    env: node
    buildCommand: pnpm build:docs
    startCommand: pnpm start:docs
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin
    envVars:
      - key: NODE_ENV
        value: production

  #
  # Web App
  #
  - type: web
    name: mothership-web-app-production
    branch: production
    plan: free
    env: node
    buildCommand: pnpm build:web
    startCommand: pnpm start:web
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin%
    envVars:
      - key: NODE_ENV
        value: production
  - type: web
    name: mothership-web-app-staging
    branch: staging
    plan: free
    env: node
    buildCommand: pnpm build:web
    startCommand: pnpm start:web
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin%
    envVars:
      - key: NODE_ENV
        value: production

  #
  # Backend Services
  #
  - type: web
    name: mothership-backend-production
    branch: production
    plan: free
    env: node
    buildCommand: pnpm build:backend
    startCommand: pnpm start:backend
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin%
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
  - type: web
    name: mothership-backend-staging
    branch: staging
    plan: free
    env: node
    buildCommand: pnpm build:backend
    startCommand: pnpm start:backend
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin%
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
